* {
  margin: 0;
  padding: 0;
}

html {
  height:100%;
}

body {
  color: #a3a3a3;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

header {
  padding: 20px 35px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #ee6a49;
  margin: 0;
  text-shadow: 0 0 10px rgba(119, 54, 54, 0.5);
}

header p {
  color: #ee6a49;
  margin-top: 16px;
}

header a {
  text-decoration: none;
  color: #ee6a49;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: #ee6a49;
  color: #ffffff;
  border-radius: 15px;
  text-shadow: none;
}

main {
  height: calc(100% - 94px);
}

main h3{
  font-size: 17px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.options {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}


#planner {
  background-image: url(../images/pexels-alfonso-escalante-2533092.jpg);
}

#trip {
  background-image: url(../images/pexels-vincent-ma-janssen-1310788.jpg);
}

#plan-form {
  align-self: center;
}

.section-title {
  font-size: 20px;
  color: #ee6a49;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 5px auto;
  width: 100%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.secondary-border {
  border-color: #ffffff;
}


/* Meida queries */

@media screen and (max-width: 980px) {
  header h1{
    justify-content: space-between;
  }

  .options {
    background-size: cover;
  }
}

 
@media screen and (max-width: 768px) {
  header h1 {
    font-size:calc(18px + 1.5vw);
  }
  
  header nav ul {
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 1px;
  }

  header nav li a {
    font-size:calc(12px + 1.5vw);
  }

  .home-page-section {
    min-height: 400px;
  }
}

@media screen and (max-width: 575px) {
  header h1{
    padding: 2px;
  }

  header h1 {
    align-self: center;    width: 100%
  }

  header p {
    display: none;
  }

  
}