* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
html,
body,
main {
  height: 100%;
  margin: 0;
}

body {
  color: #a3a3a3;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0876d;
}
header {
  position: absolute;
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 50px;
  color: #ee6a49;
  margin: 5px;
}

header a {
  text-decoration: none;
  color: #ee6a49;
  padding: 20px 25px;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px 20px;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ee6a49;
}
header nav ul li a:hover {
  background: #ee6a49;
  color: #ffffff;
  border-radius: 15px;
  text-shadow: none;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

section {
  padding: 0px;
}

#planTripsHomePage {
  background-image: url(../images/best-hidden-vacation-spots-in-the-us-5.jpgw3.webp);
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  float: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#my-trips {
  height: 89%;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  float: center;
}

.primary-border {
  border-color: #ee6a49;
}

.secondary-border {
  border-color: #ffffff;
}

h2 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 40px;
}

#plan-form {
  width: 100%;
  margin: 30px;
}
.form-group {
  margin-bottom: 60px;
}
#start-date-div,
#end-date-div {
  margin-bottom: 20px;
}

.labels {
  color: white;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  font-size: 25px;
}
#submit-trip:hover {
  background: #ee6a49;
  color: #ffffff;
  text-shadow: none;
}
#submit-trip {
  padding: 10px 15px;
  margin-top: 50px;
  color: #ee6a49;
  font-size: 30px;
}

#upcoming-trip {
  list-style: none;
  padding: 15px;
  height: calc(100% - 50px);
  background: rgb(196, 196, 196);
  border-radius: 12px;
  border: 2px solid var(--grey);
}

.list-group {
  width: 100%;
}

.list-group-item {
  background-color: #f08d14;
  color: whitesmoke;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
}

/* fist page form  */
#city-input,
#start-date-input,
#end-date-input {
  border: none;
  border-radius: 10px;
}

/* events.html specific css styling */
#save-btn{
  margin-bottom: 10px;
}

#upcoming-events,
#tourist-locations {
  margin: 20px;
}

#tourism-container{
  margin-bottom: 20px;
}

#upcoming-events,
#tourist-locations,
#trip-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.events-container {
  background: rgba(0, 0, 0, 0.5);
}

.btn-light:hover,
.btn-light:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.event-list:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* mytrips specific styling */

#trip-content {
  margin: 20px 0px;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 770px) {
  #planTripsHomePage {
    width: 100%;
    font-size: calc(10px + 1.5vw);
    height: 100%;
  }

  header h1 {
    height: 30px;
    font-size: calc(25px + 1.5vw);
    margin-left: 8px;
    margin-top: 15px;
  }

  header nav ul {
    margin: 10px 10px;
  }

  #submit-trip {
    font-size: 20px;
    margin-top: 40px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: calc(8px + 1.5vw);
  }

  h3 {
    font-size: calc(8px + 1.5vw);
  }
  .labels {
    width: 100%;
    margin-top: -30px;
  }
  .form-group {
    margin-bottom: 30px;
  }

  #city-input,
  #start-date-input,
  #end-date-input {
    border-radius: 5px;
    height: 35px;
  }
}

@media screen and (max-width: 568px) {
  header nav ul li a {
    font-size: calc(18px + 1.5vw);
  }
  #plan-form {
    width: 80%;
    font-size: calc(10px + 1.5vw);
  }
  #submit-trip {
    margin-top: 10px;
  }

  #upcoming-events, #tourist-locations{
    width: 90%;
  }

  .list-group-item{
    font-size: 15px;
  }

  #city-input,
#start-date-input,
#end-date-input {
  border-radius: 3px;
  height: 30px;
}
}
